@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.active{
  background: rgb(96 165 250);
  color:white;
  border-radius:50%
}

.listData {
  white-space: nowrap; 
  width: 100px; 
  overflow: hidden;
  text-overflow: ellipsis; 
  display: inline-block;
}

.childDiv {
  max-height: calc(100vh - 85px);
}
